.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.planetCard {
  border: 1px solid var(--border-color);
  margin: var(--spacing-20) 0;
  display: flex;
  align-items: center;
  padding: var(--spacing-08);
  gap: var(--spacing-16);
}

.planetDescription {
  padding-block-start: var(--spacing-04);
  margin-block-end: auto;
}

.planetThumbnail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.planetCard > button {
  margin-inline-start: auto;
}

.wishlistList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-16);
  margin: var(--spacing-16) 0;
}

.wishlistItem {
  border: 1px solid var(--border-color);
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-08);
  padding: var(--spacing-16);
}

.wishlistItemThumbnail {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.addWishlistItem {
  border: 1px solid var(--border-color);
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: var(--spacing-20) 0;
  padding: var(--spacing-20);
}

.addWishlistItem p {
  margin-block-end: var(--spacing-20);
}

.addWishlistItem label {
  margin: 0;
  font-size: small;
}

.addWishlistItem input,
.addWishlistItem select {
  height: 30px;
  margin-block-end: var(--spacing-20);
}
