.footer {
  background-color: rgba(6, 10, 20, 0.95);
  color: #fff;
  padding: var(--spacing-32) var(--spacing-40);
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-32);
}

.hidden {
  display: none;
}

.footer h3 {
  color: #fff;
  font-size: var(--font-size-lg);
  padding: var(--spacing-08) 0;
}

.footer p,
.footer a,
.footer li {
  color: #ddd;
  font-size: var(--font-size-md);
  font-weight: 300;
  text-align: start;
}

.footerDescription {
  max-width: 320px;
}

.footerDescription p {
  margin-block-end: var(--spacing-20);
}

.footerLinks {
  gap: var(--spacing-20);
}

.footerList {
  list-style-type: none;
  padding: 0;
}

.footerList li {
  padding-block: var(--spacing-04);
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}
