body {
  background-image: url(images/flower_blue.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  color: #5d3a66;
  padding: 0 30px 0 30px;
}
.icon {
  transform: rotate(-5deg);
  width: 50px;
  height: 50px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  margin: 0 5px;
}

.movies-section,
.books-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  transform: rotate(-1deg);
  margin-bottom: 15px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 15px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.intro-container {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
  color: #5d3a66;
}

.scrapbook-list li {
  background-color: #fff9f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0, 0.15);
  margin-bottom: 5px;
  color: #5d3a66;
  transform: rotate(-2deg 2deg);
}

.scrapbook-list li:nth-child(1) {
  transform: rotate(-2deg);
}
.scrapbook-list li:nth-child(2) {
  transform: rotate(1deg);
}
.scrapbook-list li:nth-child(3) {
  transform: rotate(-1deg);
}

.scrapbook-list li:hover {
  transform: scale(1.05) rotate(0deg);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
  color: #7c5983;
  font-family: Caveat, cursive;
}

.image-container {
  max-width: 100%;
  border: 4px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transform: rotate(-2deg);
  margin: 20px 0 20px 0;
  position: relative;
  display: inline-block;
}

image-container figcaption {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
  background-color: rgba(255, 249, 242, 0.8);
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0, 0.25);
  font-family: "Caveat", cursive;
  font-size: 18px;
  text-align: center;
  color: #5d3a66;
  margin-top: 10px;
}

.image-container::before,
.image-container::after {
  content: "";
  position: absolute;
  width: 60px;
  background: #f4a261;
  top: 5px;
  height: 15px;
  transform: rotate(-10deg);
  border-radius: 3px;
}

.image-container::after {
  right: 10px;
  left: auto;
  transform: rotate(12deg);
}

.movies-section,
.books-section,
.image-container {
  background: rgba(255, 249, 242, 0.7);
  padding: 10px 15px;
  border-radius: 10px;
}
